.link {
    padding: 0 20px;
    display: flex;
    align-items: center;
    transition: var(--common-transition);
    & > svg {
        transition: var(--common-transition);
        fill: var(--text-inactive-color);
    }
    &:hover {
        color: var(--text-primary-color);  
        svg {
            fill: var(--text-primary-color);
        }
    }

    &_active {
        svg {
            fill: var(--text-primary-color);
        }
    }
}

