.profile {
  display: flex;
  gap: 60px;
  margin-top: 8vh;

  &_link {
    padding: 17px 0;
    display: block;
  }

  &_menu {
    max-width: 320px;
  }

  &_section {
    flex-grow: 1;
  }

  &_orders {
    max-height: calc(100vh - 170px);
    overflow-y: scroll;
  }
}

